
@{
    ViewData["Title"] = "Vistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vistas</h1>

@Html.ActionLink("IR a parte 1", "Students", "Students", new { }, new { @class = "btn btn-success" })
<br>
<br>
@Html.ActionLink("IR a parte 2", "Cursos", "Curse", new { }, new { @class = "btn btn-success" })
<br>
<br>
@Html.ActionLink("IR a parte 3", "Inscripcion", "Inscripcion", new { }, new { @class = "btn btn-success" })